<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">local</property>
        <property name="hibernate.connection.password">local</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/discoursedb</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
    
        <mapping package="edu.cmu.cs.lti.discoursedb.core.model.annotation"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.annotation.AnnotationInstance"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.annotation.Annotations"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.annotation.AnnotationType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.annotation.Feature"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.annotation.FeatureType"/>
	
	    <mapping package="edu.cmu.cs.lti.discoursedb.core.model.macro"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.Content"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.Context"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.ContextType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.Contribution"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.ContributionAudience"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.ContributionContext"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.ContributionType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.Discourse"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscoursePart"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscoursePartContribution"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscoursePartRelation"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscoursePartRelationType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscoursePartType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscourseRelation"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscourseRelationType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.macro.DiscourseToDiscoursePart"/>
	
	    <mapping package="edu.cmu.cs.lti.discoursedb.core.model.system"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.system.DiscourseDB"/>
	
	    <mapping package="edu.cmu.cs.lti.discoursedb.core.model.user"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.Audience"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.AudienceGroup"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.AudienceType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.AudienceUser"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.ContentInteraction"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.ContentInteractionType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.Group"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.GroupType"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.GroupUser"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.User"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.UserRelation"/>
	    <mapping class="edu.cmu.cs.lti.discoursedb.core.model.user.UserRelationType"/>	    
    </session-factory>
</hibernate-configuration>